@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
  --fonte1: 'Passion One', cursive;
  --fonte2: 'Sriracha', cursive;
}

.main-header {
  background-color: black;
  font-family: var(--fonte1);
  color: white;
  text-align: center;
}

.main-header .main-title {
  padding-top: 50px;
  font-size: 10vw;
  font-variant: small-caps;
}

.main-header .p-link {
  padding-bottom: 50px;
  font-size: 1.2em;
}

a {
  color: white;
  font-weight: bolder;
}

a:hover {
  text-decoration: underline;
}

.section-verso{
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 30px;
  line-height: 2em;
  font-family: var(--fonte2);
  font-size: 4vw;
  background-color: white;
}

.section-verso.-img {
  color: white;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473)
}

.paragrafo {
  padding-bottom: 2em;
}

.paragrafo.-img {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.514);
  text-shadow: 1px 1px 0px black;
  font-size: 4vw;
  padding: 5px;
}

.section-verso.-img1 {
  background: url(../assets/imagens/background001.jpg) no-repeat fixed right center;
  background-size: cover;
}

.section-verso.-img2 {
  background: url(../assets/imagens/background002.jpg) no-repeat fixed top center;
  background-size: cover;
}


.rodape {
  text-align: center;
  font-size: 2vw;
  color: white;
  padding: 10px;
  background-color: black;
}